.separator{
  height: 5px;
  width: 60%;
  background-color: #bea064;
  align-items: center;
  border-radius: 15px;
  }

  @media screen and (min-width:993px){
    .div-separator{
      display: none !important;
    }
  }