
.project-list {
  .project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .project-img {
      width: 330px;
      height: auto;
      box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
      border-radius: 0.5rem;
      overflow: hidden;
      margin: 10px;

      img {
        width: 100%;
        height: auto;
        display: block;
        transition: 1s;
        cursor: pointer;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }
}