/* Styles CSS pour la sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -230px; /* Masque la sidebar par défaut */
  width: 230px;
  height: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  background-color: #2faee0;
  color: #fff;

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 32px;
      display: block;
      line-height: 51px;
      height: 70px;
      position: relative;
      text-decoration: none;
      svg {
        color: #fff;
      }

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #bea064;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 18px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
    }

    a.home-link {
      &:after {
        content: 'À PROPOS';
      }
    }
    a.project-link {
      &:after {
        content: 'MES PROJETS';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #bea064;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 24px;
        line-height: 16px;
        svg {
          color: #fff;
        }
      }

      &:hover {
        .anchor-icon {
          color: #bea064;
        }
      }
    }
  }
}

.sidebar.open {
  left: 0; /* Affiche la sidebar lorsque 'open' est true */
}

.toggle-open-button {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #bea064;
  border: 2px solid #bea064;
  transition: 0.3s;
  z-index: 998;
  svg {
    color: #fff;
    transition: 0.3s;
  }

  &:hover, &:active {
    background-color: #fff;
    svg {
      color: #bea064;
    }
  }
}

.toggle-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #FFF;
  border: 2px solid #FFF;
  transition: 0.3s;
  svg {
    color: #bea064;
    transition: 0.3s;
  }

  &:hover, &:active {
    background-color: #bea064;
    svg {
      color: #FFF;
    }
  }
}
